<%= render 'home/navbar'%>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-md-6 col-12 pb-4">
            <%=image_tag @hotel.images ,style:"width:80%"%> 
            </div>
            <div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4">
                <h4><%= @hotel.name%>, <%=@destination.name%>
                </h4>
                    <div>
                        <%= @hotel.description%>
                    </div>
                    <div>
                        <h5> Address:</h5> 
                        <%= @hotel.address%>
                    </div>
                    <div>
                        <h5>
                            For more details, Contact us:
                        </h5>
                        <font color='blue'><u>
                        <%= @hotel.contact%>
                        </font>
                        </u>
                    </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
                <h3>Feedbacks:</h3>
                    <h4></h4> <span></span> <br>
                    <p> <%@hotel.hotelcomments.each do|comment|%> </p>
                        <%= comment.body%>
                        <% end%>
                <form method='post'>
                        <h4>Leave a Feedback</h4> 
                        <textarea name="body" ></textarea>
                        <%if current_user.username.present?%>
                        <input type="hidden" name="username" value="<%= current_user.username%>">
                        <input type="submit" value="Submit">
                        <%else%> <%= flash[:alert] = "Please login to continue.."%>
                         <%end%>
                </form>
            </div>
        </div>
    </div>
</section>